@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */
:root {
    --main-height: 643px;
}


.FormicBackGround{
    background: #402661;
    background: linear-gradient(0deg, #402661 16%, #68388f 91%);
    height: var(--main-height);
    font-family: 'Poppins', sans-serif;
}

nav a{
    margin-top: 3%;
    color: white !important;
    font-weight: 600 !important;
}
.Logo{
    padding-left: 5%;
}
.Menu{
    display: flex;
    direction: column;
    align-items: end;
    justify-content: end;
    gap: 10%; 
    padding-right: 5%;
}
.mainArea .card{
    background: #8a5bc0;
    background: linear-gradient(0deg, #54307d 16%, #6d449c 91%);
    border: none;
    box-shadow: 10px 10px 61px -7px #6a2ec5cc;
    -webkit-box-shadow: 10px 10px 61px -7px rgba(60, 11, 133, 0.8);
    -moz-box-shadow: 10px 10px 61px -7px rgba(67, 21, 131, 0.8);
    border-radius: 15px;
    margin-bottom: 58px;
}
.mainArea span:nth-child(1){
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    /* color:red; */
}
.Lpara1{
    font-size: 23px;
    text-align: justify;
}
.mainArea Button{
    font-weight: 600;
    border-radius: 50px;
    text-align: center;
    color: #7edd7e;
    border-color: #7edd7e;
    padding: 10px 40px 10px 40px;
    /* color:red; */
}
.mainArea Button:hover,.mainArea Button:focus, .mainArea Button:active{

    text-align: center;
    color: #ffff;
    border-color: #7edd7e;
    background-color: #7edd7e;

    /* color:red; */
}
.mainArea p:nth-child(4){
    color:#776395;
    width: 300px;
    font-size: 13px;
    /* border: 1px solid #ffff; */
    text-align: left;
    margin-top: 3%;
}

#limit p, #limit span{
    font-size: medium !important;
    font-weight: 400 !important;
    color:#7f639f;
}

.firstInput{
    background-color: transparent;
    border-radius: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ffffff5f;
    color: #ffff;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    font-weight: 600;
}
.firstInput:focus, .firstInput:active {
    background-color: transparent;
    border-radius: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ffffff56;
    color: #ffff;
    box-shadow: none;
}

.append{
    background-color: transparent;
    border-radius: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ffffff56;
    color: #ffff;
    box-shadow: none;
    font-size: large;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.MuiSlider-root {
    border-radius: 12px;
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    cursor: pointer;
    touch-action: none;
    color: #7edd7e !important;
    -webkit-tap-highlight-color: transparent;
    height: 4px;
    width: 100%;
    padding: 13px 0;
  }
  .MuiSlider-rail{
    background-color: #919191b8 !important;
}
.MuiSlider-thumb{
    
    background-color: transparent !important;
    border: 10px  double #ffffff !important;
    box-shadow: none !important;

}

.CheckBtn{
    border:1px solid #ffff !important;
    color:#ffffff !important;
    padding: 10px 10px 10px 10px !important;
    margin: 10px 10px 10px 10px;
}

.CheckBtn:hover,.CheckBtn:focus,.CheckBtn:active{
    border:1px solid #ffff !important;
    color: #7f639f !important;
    background-color: #ffffff !important;
    padding: 10px 10px 10px 10px !important;
    margin: 10px 10px 10px 10px;
}